
<div class="view_all_opinion">
<h2 class="text-center">Find Opinion on Sentiments</h2>
<div class="sentiment_container">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ng-class="{ active: isSet(1) }">
            <a href ng-click="setTab(1)" >Current</a></li>
        <li role="presentation" ng-class="{ active: isSet(2) }">
            <a href ng-click="setTab(2)" aria-controls="permanent" role="tab" data-toggle="tab">Permanent</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" ng-class="{active:isSet(1)}" id="current">
            <div id="carousel-viewall" class="carousel slide" data-ride="carousel">
                <!-- =====================================CURRENT======================================================= -->
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox" ng-show="isSet(1)">
                    <div class="item" ng-repeat="sentimentSet in temporarySentimentsSets" ng-class="{active: $first}">
                        <ul class="sentiment_slide" ng-repeat="sentiment in sentimentSet">
                            <li >
                                <div id="current_{{sentiment.id}}"  class="box_sentiment" ng-click="displayOpinions('#current_', sentiment.id)" sntm-id="{{sentiment.id}}" callback>
                                    <a href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="Comming Soon.." class="verdict" 
									tooltip-calback></a>
									<a href id="clickShow" class="link_sentiment">
										<img ng-show="sentiment.imageUrl"  ng-src="{{sentiment.imageUrl}}" alt="{{sentiment.subject}}" width="130px" height="150px"/>
										<img ng-hide="sentiment.imageUrl" ng-src="data:image/png;base64,{{sentiment.image}}" alt="{{sentiment.subject}}" width="130px" height="150px"> {{sentiment.subject}}
									</a>
									<a href="#/viewAllOpinion?id={{sentiment.relatedSentiments[0].id}}"><p>{{sentiment.relatedSentiments[0].name}}</p></a>
                                <span class="time" ng-show="$index == 2 || $index == 5 ">
										<i class="fa fa-calendar"></i> {{sentiment.timeLine}}
									</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="javascript:void(0)" role="button" ng-click="prev('#carousel-viewall')">
                    <span class="fa fa-angle-left" aria-hidden="true"></span>
                </a>
                <a class="right carousel-control" href="javascript:void(0)" role="button" ng-click="next('#carousel-viewall')">
                    <span class="fa fa-angle-right" aria-hidden="true"></span>
                </a>
            </div>
            <p ng-show="!temporarySentiments.length">No temporary sentiments to be displayed.</p>
        </div>
        <div role="tabpanel" class="tab-pane" id="permanent" ng-class="{active:isSet(2)}">
            <!-- =====================================PERMAENT======================================================= -->
            <div id="carousel-viewall-perm" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="item" ng-repeat="sentimentSet in permanentSentimentsSets" ng-class="{active: $first}">
                        <ul class="sentiment_slide" ng-repeat="sentiment in sentimentSet">
                            <li >
                                <div id="permanent_{{sentiment.id}}"  class="box_sentiment" ng-click="displayOpinions('#permanent_', sentiment.id)" sntm-id="{{sentiment.id}}" callback> 
                                    <a href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" title="Comming Soon.." class="verdict" 
									tooltip-calback></a>
									<a href id="clickShow" class="link_sentiment">
										<img ng-show="sentiment.imageUrl"  ng-src="{{sentiment.imageUrl}}" alt="{{sentiment.subject}}" width="130px" height="150px" />
										<img ng-hide="sentiment.imageUrl" ng-src="data:image/png;base64,{{sentiment.image}}" alt="{{sentiment.subject}}" width="130px" height="150px"> {{sentiment.subject}}
                                    </a>
                                    <span class="time" ng-show="$index == 2 || $index == 5 ">
										<i class="fa fa-calendar"></i> {{sentiment.timeLine}}
									</span>
									<!-- <p>{{sentiment.type}}</p> -->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="javascript:void(0)" role="button" ng-click="prev('#carousel-viewall-perm')">
                    <span class="fa fa-angle-left" aria-hidden="true"></span>
                </a>
                <a class="right carousel-control" href="javascript:void(0)" role="button" ng-click="next('#carousel-viewall-perm')">
                    <span class="fa fa-angle-right" aria-hidden="true"></span>
                </a>
            </div>
            <p ng-show="permanentSentimentsSets.length == 0">No permanent sentiments to be displayed.</p>
        </div>
    </div>
</div>
<div class="row m_t15">
<div class="col-md-9">
	<p class="error" ng-hide="opinions.length">No opinions found, please select a sentiment.</p>
	<div class="filter_box">
	<h2>Search</h2>
	<form class="search_opin" name="searchFrm" novalidate>
	<input type="search" ng-model="opinionSearchKey" placeholder="Search opinions with text (please enter at least 3 characters)" ng-keypress="opinionSearchKeyError=false" required>
	<button type="button" ng-click="searchOpinion()"><i class="fa fa-search"></i></button>
	<p class="error" ng-show="opinionSearchKeyError">Please enter the opinion title/text to search.</p>
	<div class="col-pop-bx">
	<p>Hello text here to check now</p>
	</div>
	</form>
	<p>Narrow  Your Search (Opps! its coming soon ..)</p>
	<div class="tab narrow">
		<ul>
			<li><button  style='padding: 6px 13px;border: 1px solid #ddd;border-radius: 3px; display: inline-block;' title="This Feature is coming soon!">Recent</button></li>
			<li><button  style='padding: 6px 13px;border: 1px solid #ddd;border-radius: 3px; display: inline-block;' title="This Feature is coming soon!">Source</button></li>
			<li><button  style='padding: 6px 13px;border: 1px solid #ddd;border-radius: 3px; display: inline-block;' title="This Feature is coming soon!">Location</button></li>
			<li><button  style='padding: 6px 13px;border: 1px solid #ddd;border-radius: 3px; display: inline-block;' title="This Feature is coming soon!">Most popular</button></li>
			<li><button  style='padding: 6px 13px;border: 1px solid #ddd;border-radius: 3px; display: inline-block;' title="This Feature is coming soon!">Anti Govt opinion</button></li>
			<li><button  style='padding: 6px 13px;border: 1px solid #ddd;border-radius: 3px; display: inline-block;' title="This Feature is coming soon!">Pro govt opinions</button></li>
		</ul>
	</div>
	<div class="search_fld">
		<input type="text" placeholder="e.g. Delhi">
		<button type="submit"><i class="fa fa-search"></i></button>
	</div>
	</div>
	<div class="clearfix"></div>
	<div class="form-inline">
<!-- 	<ul class="filter_data"> -->
<!-- 	<li class="alert alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>Location <strong>Delhi</strong></li> -->
<!-- 	<li class="alert alert-dismissible fade in" role="alert"> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>Status <strong>Done</strong></li> -->
<!-- 	</ul> -->
		

	<!-- <div class="form-group m_l20"> <label class="control-label" for="sort_by">Sort By </label> <select id="sort_by" class="form-control"> -->
	  <!-- <option>Recent added Sentiment</option> -->
	  <!-- <option>3</option> -->
	  <!-- <option>4</option> -->
	  <!-- <option>5</option> -->
	<!-- </select></div> -->

	<!-- </div> -->
<hr class="o_tm_10">
<div class="clearfix"></div>

			<div class="rebut_opinion"
				ng-repeat="opinion in opinions | limitTo:pageSize">
				<div class="image_bx" ng-click="viewOpinion(opinion.id)">
					<img ng-hide="opinion.imageUrl" ng-src="data:image/png;base64,{{opinion.image}}" alt="">
					<img ng-show="opinion.imageUrl" ng-src="{{opinion.imageUrl}}" alt="">
					<span ng-class="(opinion.type == 'Pro') ? 'govt_opinion supp' : 'govt_opinion anti'" >{{opinion.type}} Govt Opinion</span>	
					<a href="/#/viewAlOpinion?id={{opinion.sentimentId}}">{{opinion.sentimentCategory=="Temporary"?"on current sentiment":"on permanent sentiment"}}</a>
						
				</div>
				<div class="right_reb_bx">
					<div class="user_txt">
<!-- 						<img src="images/img_opinion.png" alt=""> -->
						<a href="/#/personality?id={{opinion.user.id}}"><img width="30px" height="30px" ng-src="data:image/png;base64,{{opinion.user.image}}" alt=""></a>
						<h2>
							<a href="/#/personality?id={{opinion.user.id}}">{{opinion.user.name}}</a> <span>@{{opinion.user.userName}}</span>
						</h2>
					</div>
					<ul class="right_top_bx">
						<li>{{opinion.user.city}}</li>
						<li><i class="fa fa-clock-o fa-6"></i>
							{{opinion.formattedAge}}</li>
						<!-- 		<li><a href="#"><i class="fa fa-heart"></i> Like</a></li> -->
						<!-- 		<li><a href="#"><i class="fa fa fa-share-alt"></i> Share</a></li> -->
					</ul>
					<div class="clearfix"></div>
					<h2 ng-click="viewOpinion(opinion.id)">{{opinion.title}}</h2>
					<p read-more rm-max="500" rm-text="{{opinion.opinionText}}"></p>
					<p>
						<div class="link_cont" ng-show='opinion.link'>
							<label> Link </label> <a href="{{opinion.link.link}}" target='_blank'>{{opinion.link.description}}</a>
						</div>
					</p>
					<a href="/#/viewAllOpinion?id={{opinion.sentimentId}}" class="viewall-sntmnt-title" title="On Sentiment">
					<span class="sub-title">On Sentiment: </span> {{opinion.sentimentName}}</a>
					<div class="clearfix"></div>
					<div class="text-center" ng-init="">
						<label>Respond Opinion:</label> <a class="{{(opinion.type == 'Pro') ? 'org_btn' : 'grn_btn'}}"
							href="javascript:void(0)"
							ng-click="setVote($index,opinion.agreePollId); checkAuth(); agreeClicked=true; disAgreeClicked=false; responseStatus=false;"
							ng-init="agreeClicked=false"
							ng-class="{'btn-grey': disAgreeClicked && isUserLoggedIn()}">Agree with Opinion</a> 
							<a class="{{(opinion.type == 'Pro') ? 'grn_btn' : 'org_btn'}}" 
							href="javascript:void(0)"
							ng-click="setVote($index,opinion.disAgreePollId); checkAuth(); disAgreeClicked=true; agreeClicked=false; responseStatus=false;"
							ng-init="disAgreeClicked=false"
							ng-class="{'btn-grey': agreeClicked  && isUserLoggedIn()}">Disagree with Opinion</a> 
							
							<a
							class="see_res" href="javascript:void(0)"
							ng-click="viewOpinion(opinion.id)">See All Responses</a>
					</div>
					<div class="smiley" id="refPar_smiley" style="float: right;  margin-right: 190px; margin-top: -30px;">
								<img src="images/feel.png" alt=""
									id="refImg_{{attachment.id}}">                           <!-- ng-click="classPopup(attachment.id)" -->
									 <span class="fa fa-caret-down"></span>
								<div class="popup_smiley" id="popupSmilee_{{attachment.id}}" >
									<h2>Select your feeling</h2>
									<ul class="smy_list">
										<li><span class="red_neg"><i class="fa fa-minus"></i>
												<span>Negative</span></span></li>
														
												
										<li id="rate_0{{attachment.id}}"><a href
											ng-click="rate('reference', attachment.id, selectedSentiment.id, 0, 'sad','negative'); checkAuth();"><input
												name="feel_negative_0" type="radio" id="sad"><label for="sad">Sad</label></a></li>
										<li id="rate_1{{attachment.id}}"><a href
											ng-click="rate('reference', attachment.id, selectedSentiment.id, 1, 'Baised','negative' ); checkAuth();"><input
												name="feel_negative_1" type="radio" id="Baised"><label
												for="Baised">Baised</label></a></li>
										<li id="rate_2{{attachment.id}}"><a href
											ng-click="rate('reference', attachment.id, selectedSentiment.id, 2,'advert' ,'negative'); checkAuth();"><input
												name="feel_negative_2" type="radio" id="advert"><label
												for="advert">Advert</label></a></li>
										<li id="rate_3{{attachment.id}}"><a href
											ng-click="rate('reference', attachment.id, selectedSentiment.id, 3,'plagrism','negative' ); checkAuth();"><input
												name="feel_negative_3" type="radio" id="plagrism"><label
												for="plagrism">Plagiarism</label></a></li>
										<li id="rate_4{{attachment.id}}"><a href
											ng-click="rate('reference', attachment.id, selectedSentiment.id, 4,'facts','negative'); checkAuth();"><input
												name="feel_negative_4" type="radio" id="facts"><label
												for="facts">Hiding Facts</label></a></li>
									</ul>
									<hr>
									<ul class="smy_list">
										<li><span class="red_neg blck"><i
												class="fa fa-plus"></i> <span>Positive</span></span></li>
										<li id="rate_5{{attachment.id}}"><a href
											ng-click="rate('reference', attachment.id, selectedSentiment.id, 5,'format','positive'); checkAuth();"><input
												name="feel_positive_5" type="radio" id="format"><label
												for="format">Well Format</label></a></li>
										<li id="rate_6{{attachment.id}}"><a href
											ng-click="rate('reference', attachment.id, selectedSentiment.id, 6,'intresting','positive'); checkAuth();"><input
												name="feel_positive_6" type="radio" id="intresting"><label
												for="intresting">Interesting</label></a></li>
										<li id="rate_7{{attachment.id}}"><a href
											ng-click="rate('reference', attachment.id, selectedSentiment.id, 7,'informative','positive'); checkAuth();"><input
												name="feel_positive_7" type="radio" id="informative"><label
												for="informative">Informative</label></a></li>
										<li id="rate_8{{attachment.id}}"><a href
											ng-click="rate('reference', attachment.id, selectedSentiment.id, 8,'attractive','positive'); checkAuth();"><input
												name="feel_positive_8" type="radio" id="attractive"><label
												for="attractive">Attractive</label></a></li>
										<li id="rate_9{{attachment.id}}"><a href
											ng-click="rate('reference', attachment.id, selectedSentiment.id, 9,'ethical','positive'); checkAuth();"><input
												name="feel_positive_9" type="radio" id="ethical"><label
												for="ethical">Ethical</label></a></li>
									</ul>
								</div>
							</div>
				</div>
				<div class="clearfix"></div>
				<div class="box_comment" ng-init="userResponse; responseStatus=false;">
					<p class="success" ng-show="responseStatus && masterResponseStatus">Your response has been created successfully.</p>
					<img ng-src="{{getUserImage()}}" alt="" class="user_comment">
					<p id="rebut_resp_{{$index}}" init-callback contenteditable="false" ng-model="userResponse"
						strip-br="true" class="response-input rebut-response"
						placeholder="Enter your response here." maxlength="500"></p>
					<input type="hidden" id="rebut_vote_{{$index}}" />
					<!-- <ul class="nav respond_rebut"> -->
					<!-- <li><a href="javascript:void(0)"><i class="fa fa-paperclip"></i></a></li> -->
					<!-- <li class="smiley"> -->
					<!-- <img src="images/feel.png" alt=""> -->
					<!-- <div class="popup_smiley"><h2>Select your feeling - Is this link and Coment reflect good journalism?</h2> -->
					<!-- <ul class="smy_list"> -->
					<!-- <li><span class="red_neg"><i class="fa fa-minus"></i> -->
					<!-- <span>Negative</span></span></li> -->
					<!-- <li><input name="feel" id="sad" type="radio"><label for="sad">Sad</label></li> -->
					<!-- <li><input name="feel" id="Baised" type="radio"><label for="Baised">Baised</label></li> -->
					<!-- <li><input name="feel" id="advert" type="radio"><label for="advert">advert</label></li> -->
					<!-- <li><input name="feel" id="plagrism" type="radio"><label for="plagrism">plagrism</label></li> -->
					<!-- <li><input name="feel" id="facts" type="radio"><label for="facts">hiding facts</label></li> -->
					<!-- </ul> -->
					<!-- <hr><ul class="smy_list"> -->
					<!-- <li><span class="red_neg blck"><i class="fa fa-plus"></i> -->
					<!-- <span>Positive</span></span></li> -->
					<!-- <li><input name="feel" id="format" type="radio"><label for="format">well format</label></li> -->
					<!-- <li><input name="feel" id="intresting" type="radio"><label for="intresting">intresting</label></li> -->
					<!-- <li><input name="feel" id="informative" type="radio"><label for="informative">informative</label></li> -->
					<!-- <li><input name="feel" id="attractive" type="radio"><label for="attractive">attractive</label></li> -->
					<!-- <li><input name="feel" id="ethical" type="radio"><label for="ethical">ethical</label></li> -->
					<!-- </ul> -->
					<!-- </div> -->
					<!-- </li> -->
					<!-- </ul> -->

					<div class="press">
						<!-- <input id="enter" type="checkbox"><label for="enter">Press enter to send</label> -->
						<input type="button" ng-click="addResponse($index, opinion.id); disAgreeClicked=false; agreeClicked=false; responseStatus=true;"
							value="Submit" class="custom_btn small-btn inline" ng-disabled="(!agreeClicked && !disAgreeClicked) || !userResponse.length" />
					</div>
				</div>
			</div>
	
<!-- 	Pagination Start -->	
<div  style="margin-top: 10px;text-align: center;" ng-if="totalPages>1">
			<button class="org_btn"
			ng-disabled="pageButtonDisabled(-1)" ng-click="paginate(-1)">Previous</button>
		
			<button  class="org_btn"
			ng-disabled="pageButtonDisabled(1)" ng-click="paginate(1)">Next</button>
				<br> <br>
			<p>  Page {{currentPage+1}} of {{totalPages}} </p>
		</div>  
<!-- 	Pagination End -->	

		</div>
<!-- <div class="col-md-3"> -->
<!-- <img src="images/add_baneer.png" alt="ad Banner"> -->
<!-- </div> -->
</div>

  </div>
 