
                 <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12 no-minpadding">
                        <h1 class="page-header">
                            Dashboard <small>Statistics Overview</small>
                        </h1>
                        <!--<ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>-->
                    </div>
                </div>
                <!-- /.row -->

                    
            <div class="row">
                  
                        <div class="col-md-6 col-sm-6 padding-bot40">
                        <div class="custom-checkbox">
                        <input type="checkbox" id="cb1" required="">
                        <label for="cb1" style="font-size:14px; font-weight:normal">Automate</label>
                        </div>
                        </div>
                        
                        <div class="col-md-6 col-sm-6 padding-bot40">
                        <div class="custom-checkbox">
                        <input type="checkbox" id="cb2" required="">
                        <label for="cb2" style="font-size:14px; font-weight:normal">Management</label>
                        </div>
                        </div>
                    
                    </div>
            
              
