
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12 no-minpadding">
                        <h1 class="page-header">
                           <small>Sentiment View</small>
                        </h1>
                        <!--<ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>-->
                    </div>
                </div>
              
              
              
              
              <div class="container-padding animated fadeInRight"> 
                <!-- Start Row -->
                <div class="row"> 
                    <!-- Start Panel -->
                    <div class="col-md-12 no-minpadding">
                        <div class="panel panel-default">
                           
                            <div class="panel-body table-responsive">
                             <div class="panel-title padding-top10"><h3> DataTables </h3></div>
                             <div class="clear"></div>
                                <div id="inner_box" class="dataTables_wrapper padding-top20">
                                <div class="row">
                                <div class="col-md-8 padding-bot10">
                                <label>Show
                                 <select name="example0_length" aria-controls="example0" class="selectpicker" data-size="5" data-actions-box="true">
                                <option value="10">10</option>
                                <option value="25">20</option>
                                 <option value="10">50</option>
                                <option value="50">200</option>
                                <option value="100">500</option>
                                </select> Entries</label>
                                </div>
                                
                                <div  class="col-md-4 padding-bot10">
                                 <div class="input-group form-group">
                    <input type="text" class="form-control">
                
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-search btn-danger theme-volilet">
                            <span class="glyphicon glyphicon-search"></span>
                            <span class="label-icon">Search</span>
                        </button>
                       
                    </div>
                </div> 
                                </div>
                                
                                </div>
                                <div class="table-responsive">
                                <table id="example0" class="table table-bordered table-hover table-striped" role="grid" aria-describedby="example0_info">
                                    <thead>
                                        <tr role="row">
                                        <th class="sorting_asc border_b" tabadmin-index="0" aria-controls="example0" rowspan="1" colspan="2" aria-label="Name: activate to sort column descending" aria-sort="ascending" style="width: 192px; font-size:16px">
                      							     <div class="btn-group btn-group-vertical" data-toggle="buttons" ng-click="sentTypeClick('temporary')">
                                    <label class="btn active focus" style="font-family: 'Play', sans-serif !important;">
                                    <input type="radio" id="temporary" name='gender1'  ><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i> <span style="width: 192px;font-size:16px; font-family: 'Play', sans-serif; font-weight:700;">  Current</span>
                                    </label>
                                    </div>

                                        </th>
                                        <th class="sorting border_b box" tabadmin-index="0" aria-controls="example0" rowspan="1" colspan="3" aria-label="Position: activate to sort column ascending" style="width: 308px; font-size:16px;  font-weight:500">
                                    <div class="btn-group btn-group-vertical" data-toggle="buttons" ng-click="sentTypeClick('permanent')">
                                    <label class="btn active" style="font-family: 'Play', sans-serif !important;">
                                    <input type="radio" name='gender1' id="permanent"><i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i> <span style="width: 192px;font-size:16px; font-family: 'Play', sans-serif; font-weight:700;">  Permanent</span>
                                    </label>
                                    </div>
                                        
                                        <!--Permanent <input class="native-hidden pull-right" type="checkbox" />--></th></tr>
                                        
                                        <tr role="row">
                                        <th class="sorting_asc" tabadmin-index="0" aria-controls="example0" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" aria-sort="ascending" style="width: 50px;">Sr.No.</th>
                                        <th class="sorting_asc" tabadmin-index="0" aria-controls="example0" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending" aria-sort="ascending" style="width: 350px;">Titel</th>
                                        <!--<th class="sorting" tabadmin-index="0" aria-controls="example0" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 80px;">Update</th>-->
                                        <th class="sorting" tabadmin-index="0" aria-controls="example0" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 108px;">Enable/Disable</th>
                                        <th class="sorting" tabadmin-index="0" aria-controls="example0" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 108px;">Action</th>
                                       
                                        </tr>
                                    </thead>
                                    <tbody>

                                        
                                        
                                    <tr ng-repeat="child in sentiments" role="row" class="odd">
                                           <td class="sorting_1 text-center">{{$index+1}}</td>
                                            <td class="sorting_1">{{child.subject}}</td>
                                            <td class="icon-box"><input type="checkbox"  class="icon_show delete btn tip-top" ng-class="{crossSent:!child.isChecked,rightSent:child.isChecked}"  ng-model="child.isChecked" ng-click="updateState(child)" data-toggle="tooltip" title="Enable / Disable" /></td>
                                            
                                            <td class="basura"><!--<input class="icon_show enabel delete btn" title="deleate" type="checkbox" />-->
                                            <a class="btn small-icon theme-green" href="#/admin/editsentiment?sentimentId={{child.id}}"  data-toggle="tooltip" title="Edit">
                                            <i class="fa"><img src="images/pen.png" class="img-responsive"></i>
                                            </a>
<!--                                             <button class="btn small-icon theme-green" data-toggle="tooltip" title="Delete"> -->
<!--                                             <i class="fa"><img src="images/delete.png" class="img-responsive"></i> -->
<!--                                             </button> -->
                                            </td>
                                        </tr>
                                                                         
                                        </tbody>
                                  
                                    
                                </table>
                              </div>
                                <div class="dataTables_info text-right" id="example0_info" role="status" aria-live="polite">Showing 1 to 10 of 31 entries</div>
                                
                                <nav aria-label="Page navigation example">
  <ul class="pagination pull-right">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Panel --> 
               
                </div>
                <!-- End Row --> 
            </div>
              


            <!-- /.container-fluid -->
