
                        <!-- Page Heading -->
                        <div class="row">
                            <div class="col-lg-12 no-minpadding">
                                <h1 class="page-header">
                                    <small>Sentiment Add</small>
                                </h1>
                              
                            </div>
                        </div>

                        <div class="container-padding animated fadeInRight">
                            <!-- Start Row -->
                            <div class="row">
                                <!-- Start Panel -->
                                
                                    <div class="col-md-12 no-minpadding">
                                        <div class="panel panel-default">

                                            <div class="panel-body">
                                                <div class="panel-title padding-top10">
                                                    <h3> Data Add </h3>
                                                </div>
                                                <div class="clear"></div>
                                                <div id="inner_box" class="dataTables_wrapper">
                                                   
											<div class="form-horizontal padding-btop20 padding-rtl20 margin-btop20" ng-controller="addSentimentCntrl" name="addSentimentFrm"
                                    style="border:1px solid #e6e2e2;">
                                                    <div class="row">
                                                        <div class="col-md-6 col-sm-12">
                                                            <div class="form-group padding-top10">
                                                                <label class="control-label col-sm-3" for="email">Title</label>
                                                                <div class="col-sm-9">
                                                                    <input type="text" class="form-control" placeholder="Title" ng-model="sentiment.subject">
                                                                </div>
                                                            </div>
                                                            <div class="form-group padding-btop10">
                                                                <label class="control-label col-sm-3" for="pwd">Description</label>
                                                                <div class="col-sm-9">
                                                                    <textarea type="text" cols="12" rows="12" class="form-control nottext" id="pwd" placeholder="text here.." ng-model="sentiment.description"></textarea>
                                                                </div>
                                                            </div>

                                                            <div class="row">
                                                                <div class="form-group">
                                                                    <label class="control-label col-md-7 col-sm-6" for="pwd" style="height: 82px;padding-top: 30px;">Sentiment Image</label>
                                                                    <div class="col-sm-4 col-md-3">

                                                                      <div class="margin-btop10">

                                                                            <div>
                                                                                <div class="kv-avatar" id="imgId">
                                                                                    <div class="file-input"><div class="file-preview ">
        <div class="file-drop-disabled">
    <div class="file-preview-thumbnails"><div class="file-default-preview"><img src="{{image}}" class="img-responsive" alt="Your Avatar"></div></div>
    <div class="clearfix"></div>    <div class="file-preview-status text-center text-success"></div>
    <div class="kv-fileinput-error"></div>
    </div>
</div> <button style="display:none" type="button" class="btn btn-default" title="Add picture tags" onclick="alert('Call your custom code here.')"><i class="glyphicon glyphicon-tag"></i></button> 
<button type="button" tabindex="500" title="Cancel or reset changes" class="btn btn-default fileinput-remove fileinput-remove-button"><i class="glyphicon glyphicon-remove"></i> </button> <div tabindex="500" class="btn btn-primary btn-file"><i class="glyphicon glyphicon-camera fa-2x"></i><span>Upload Image</span> 
<input id="SentFile" type="file" onchange="angular.element(this).scope().convertFile(this)" class=""></div></div>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <!-- </form> -->

                                                            <!-- =======add option start========= -->

																<!-- =======add option end========= -->

                                                            <div class="clear"></div>
                                                            <div class="form-group padding-btop20 row">
                                                                <label class="control-label col-md-4 col-sm-4" for="pwd">Opinion Image:</label>
                                                                <div class="col-md-8 col-sm-8">
                                                                    <input type="text" class="form-control" id="pwd" placeholder="API Need to Sentiment">
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-6 col-sm-12 voca">

                                                            <!-- <form class="form-horizontal padding-btop20 padding-rtl20 margin-btop20" style="border:1px solid #e6e2e2;" action="/action_page.php"> -->
                                                            <div class="form-group padding-btop10">
                                                                <label class="control-label col-sm-3" for="email">Sentiment Type</label>
                                                                <div class="col-sm-9">
                                                                    <select ng-model="type" aria-controls="example0" class="selectpicker  form-control" data-size="5" data-actions-box="true">
                                <option value="Permanent">Permanent</option>
                                <option value="Temporary">Current</option>
                                
                                
                        </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-sm-3" for="pwd">Related Category</label>
                                                                <div class="col-sm-9" style="max-height: 100px;overflow: auto;border: 1px solid #e6e6e6;max-width: 353px;margin-left: 14px;">

                                                                   <!--  <select class="form-control" id="chkveg"  > -->
          
         <!--  <option  ng-repeat="category in categories" value="category.id" ng-click="toggle(category.id)">{{category.name}}</option> --> 
           
			
        <!-- </select> -->
        <label class="lablewithcheckbox" ng-repeat="category in categories" >
        <input type="checkbox" value="category.id" ng-checked="{{category.checked}}" ng-model="category.checked">{{category.name}}<br/></label>

                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-sm-3" for="pwd">Related Sentiment</label>
                                                                <div class="col-sm-9">
                                                                    <input type="button" ng-disabled="!type" value="Add sentiment" data-toggle="modal" data-target="#model_popup" class="btn btn-default theme-green btn-block" ng-click="findByType()">

                                                                </div>
                                                            </div>
                                                            <div class="form-group padding-top10">
                                                                <label class="control-label col-sm-3" for="pwd">Keywords For News</label>
                                                                <div class="col-sm-9">
                                                                    <textarea cols="12" rows="5" class="form-control nottext" placeholder="text here.." ng-model="sentiment.keywords"></textarea>
                                                                </div>
                                                            </div>
															<div class="form-group">        
      															<div class="col-sm-offset-3 col-sm-10">
        															<button type="button" class="btn btn-default theme-volilet" ng-click="addSentiment(addSentimentFrm)" ">Submit</button>
      															</div>
    														</div>

                                                        </div>

                                                    </div>
                                                    
                                                         
                         <div id="model_popup" class="modal fade" role="dialog">
                <div class="modal-dialog modal-lg">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Related Sentiment</h4>
                        </div>
                        <div class="modal-body padding-top30">
                            <div class="table-responsive">
                                <table class="table table-bordered table-condensed table-striped table-hover margin0" id="tab_logic">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width:50px">
                                                Sr.No.
                                            </th>
                                            <th style="width:120px">
                                                Images
                                            </th>
                                            <th class="text-center">
                                                Sentiment
                                            </th>
                                            <th class="text-center" style="width:100px">

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in sentimentData">
                                            <td class="text-center">
                                               {{$index+1}}
                                            </td>
                                            <td>
                                              <div ng-if="item.image != ' ' || item.imageUrl =='null'">
                                                <img ng-src="data:image/png;base64,{{item.image}}"  class="img-responsive" />
                                                </div>
                                                <div ng-if="item.image == 'null'|| item.imageUrl!='null'">
                                                 <img ng-src="{{item.imageUrl}}"  class="img-responsive" />
                                                 </div>
                                            </td>
                                            <td class="text-center">
                                               {{item.subject}}
                                            </td>
                                            <td><input type="button" id="sentbtn_{{item.id}}" name="btn" value="Add" ng-click="SelectedSentiment(item.id)" class="btn btn-sm btn-block theme-green"></td>
                                        </tr>

                                      
                                    </tbody>
                                   
                                </table>
                            </div>
                            <div class="modal-footer no-maxpadding">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination pull-right">
                                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
                        
                         
                                          </div>
                                          <div ng-controller="adminAddPollQuestionCntrl" name="addPollFrm" >
                                                    <!--===================pole questions row ===================-->
                                                    <div class="row clearfix">
                                                        <div class="col-md-12 column">
                                                            <div class="padding-btop10">
                                                                <h3> References Add </h3>
                                                            </div>
                                                            <div class="table-responsive">
                                                                <table class="table table-bordered table-condensed table-striped table-hover" id="tab_logic">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="text-center">
                                                                                Sr.No.
                                                                            </th>
                                                                            <th>
                                                                                Poll Question Add
                                                                            </th>
                                                                            <th>
                                                                                Options
                                                                            </th>
                                                                            <th style="width:100px">
                                                                                Images
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr ng-repeat="question in questionList">
                                                                            <td>
                                                                                {{$index+1}}
                                                                            </td>
                                                                            <td>
                                                                                <input type="text" class="form-control lg-textBox" ng-model="question.questionText" placeholder="Pole Questions-{{$index+1}}" name="Description">
                                                                            </td>
                                                                            <td>
                                                                                <div class="row">
                                                                                    <div class="col-md-4 padding-btop10" ng-repeat="option in question.options"> 
                                                                                    <input type="text" class="form-control lg-textBox"
                                                                                            id="" placeholder="Option-1" name="Description" ng-model="option.optionText"></div>
                                                                                   
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class='margin-btop10'>
                                                                                    <!-- <form class='form form-vertical' action='/avatar_upload.php' method='post' enctype='multipart/form-data'> -->
                                                                                    <div>
                                                                                        <div class="margin-btop10">

                                                                            <div>
                                                                                <div class="kv-avatar" id="imgId">
                                                                                    <div class="file-input"><div class="file-preview ">
        <div class="file-drop-disabled">
    <div class="file-preview-thumbnails"><div class="file-default-preview"><img ng-src="{{image[$index]}}" class="img-responsive" alt="Your Avatar"></div></div>
    <div class="clearfix"></div>    <div class="file-preview-status text-center text-success"></div>
    <div class="kv-fileinput-error"></div>
    </div>
</div>
 <button style="display:none" type="button" class="btn btn-default" title="Add picture tags" onclick="alert('Call your custom code here.')"><i class="glyphicon glyphicon-tag"></i></button> 
 <button type="button" tabindex="500" title="Cancel or reset changes" class="btn btn-default fileinput-remove fileinput-remove-button"><i class="glyphicon glyphicon-remove"></i> </button>
  <div tabindex="500" class="btn btn-primary btn-file"><i class="glyphicon glyphicon-camera fa-2x"></i>
  <span>Upload Image</span> <input id="avatar{{$index}}" type="file" onchange="angular.element(this).scope().convertFile(this)" class="">
  </div>
  </div>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                                    </div>
                                                                                    <!-- </form> -->
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        
                                                                    </tbody>
                                                                    <tfoot>
                                                                        <tr>
                                                                            <td rowspan="3" colspan="4">
                                                                                <div> <a ng-click="addQuestion()"  class="btn btn-default pull-right theme-green "><i class="fa fa-plus margin-right10"></i>Add Row</a>
                                                                                    <a  ng-click="removeQuestion()" class="pull-right btn btn-default theme-volilet margin-right10"><i class="fa fa-minus  margin-right10"></i>Delete Row</a></td>

                                                                        </tr>
                                                                    </tfoot>
                                                                </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--===================pole questions row end===================-->


                                                        <!--===================pole Refrences row ===================-->
                                                        <div class="row clearfix">
                                                            <div class="col-md-12 column">
                                                                <div class="table-responsive">
                                                                    <table class="table table-bordered table-condensed table-striped table-hover" id="edit_logic">
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="text-center" style="width:100px;">
                                                                                    Sr.No.
                                                                                </th>
                                                                                <th>
                                                                                    Title
                                                                                </th>
                                                                                <th>
                                                                                    Links
                                                                                </th>

                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr  ng-repeat="link in linkList">
                                                                                <td>
                                                                                      {{$index+1}}
                                                                                </td>
                                                                                <td>
                                                                                    <div class="padding-btop10"><input type='text' class='form-control lg-textBox'
                                                                                            ng-model="link.titleText" placeholder="Title-{{$index+1}}"  name='Description'></div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="padding-btop10"><input type='text' class='form-control lg-textBox'
                                                                                             ng-model="link.linkText" placeholder="Link-{{$index+1}}" name='Description'>
                                                                                    </div>
                                                                                </td>

                                                                            </tr>
                                                                            
                                                                        </tbody>
                                                                        <tfoot>
                                                                            <tr>
                                                                                <td rowspan="3" colspan="3">
                                                                                    <a id="add_option" class="btn btn-default pull-right theme-green " ng-click="addLinks()"><i class="fa fa-plus margin-right10"></i>Add Row</a>
                                                                                    <a id='remove_row' class="pull-right btn btn-default theme-volilet margin-right10" ng-click="removeLinks()"><i class="fa fa-minus  margin-right10"></i>Delete Row</a></td>

                                                                            </tr>
                                                                        </tfoot>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--===================pole Refrences row end===================-->
                                                        <div class="form-group">
			                                                <div class="col-sm-offset-3 col-sm-10">
			                                                    <button type="button" id="pollBtn" ng-click="submitPoll()" class="btn btn-default theme-volilet" disabled>Submit</button>
			                                                </div>
                                            			</div>
                                            	 	</div>
                                                    </div></div>
                                                    </div></div>
                                                    </div>
                                                    </div>
                        
                        
                        
                        
                   